.Call {
	width: 100%;
	background-color: antiquewhite ;
	padding: 20px;
	font-size: rem(24px);
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.Call-button {
	padding: 20px;
	background-color: #489008;
	color: #fff;
	border-radius: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;

}

.Call-button > a:nth-child(1){
	color: white;
	margin: 3px;
}