.Footer {
	background-color: rgba(#fff, 0.6);
	 border-top: 3px solid white;



	.widget {
		@include span-columns(4);
		@media screen and(max-width: 600px){
			@include span-columns(12);
		}
	}

	.widgettitle{

  		font-size: rem(20px);
	}
}
 
.footer-text{
	padding: 10px;
	background-color: white;
	padding-left: 170px;
}