// *************************************
//
// Header
// -> Main site header
//
// *************************************
// ////

.Header {
  background-image: url("../img/img-header-bg.png");
  // background-color: rgba(#fff, 0.3);

  background-size: cover;

}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  // background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  background-color: rgba(#fff, 0.6);
  margin-top: 42px;
  padding-bottom: 0px;
  padding-top: 0;
  padding-top: 10px;

  

  // background: rgba($c-black,0.25);
}

.Header-logo{
   @media screen and (max-width: 980px) {
  
    // background-color:red;
    
  }
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  // background-color: rgba(#fff, 0.02);
  // background-color: white;
  // background: $c-blue;
  // margin-top: 22.5px;
  // border: 1px dotted black;
  margin-top: 14px;
  margin-bottom: 7px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 0px;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
}




