// *************************************
//
// Module
// -> Logo
//
// *************************************

.Logo {
  display: inline-block;

  @media screen and (max-width: 980px) {
    margin-left: 1.1em;
  }
}

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-textLink {
  vertical-align: top;
  padding-top: rem(1px);
  margin-left: 1em;

  @media screen and (max-width: 980px) {
  margin-left: 0;
    }

}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

.Logo-headingTop,
.Logo-headingBottom {
  color: $c-white;
  display: block;
  line-height: 1;
  color: #005A97;
}

.Logo-headingTop {
  font-family: $t-headerFontFamily;
  font-size: rem(48px);
  text-align: left;
  letter-spacing:0.02em;
  color: $c-darkgrey;

  @media screen and (max-width: 980px) {
    font-size: rem(25px);
  }
}


.Logo-headingBottom {
  font-size: rem(17px);
  font-weight: 400;
  font-family: $t-fontFamily;
  color:$c-blue;

  @media screen and (max-width: 980px) {
  font-size: rem(20px);
    }

}

.Logo-heading{
  @media screen and (max-width: 980px) {
    margin-top: 0;  
    margin-bottom: 10px;
    margin-left: 0;
  }
}