// *************************************
//
// Module
// -> Logo
//
// *************************************

.Logo {
  display: inline-block;
}

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-textLink {
  vertical-align: top;
  padding-top: rem(1px);
  margin-left: 1em;

}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

.Logo-headingTop,
.Logo-headingBottom {
  color: $c-white;
  display: block;
  line-height: 1;
  color: #005A97;
}

.Logo-headingTop {
  font-family: $t-headerFontFamily;
  font-size: rem(50px);
  text-align: left;
  letter-spacing:0.02em;
  color: black;
}

.Logo-headingBottom {
  font-size: rem(20px);
  font-weight: 400;
  font-family: $t-fontFamily;

}