// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
  text-decoration: none;
 
  

}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: none;
  color: $c-white;
  @extend .Button--nav;
  background: rgba($c-lightyellow, 0.2);
}

.Navigation-link:hover {
  text-decoration: none;
  color: $c-white;
  text-decoration: none;

}

a.Navigation-link{
  text-decoration: none;
  color: $c-white;
  font-size: rem(24px);
  font-weight: 600;
  letter-spacing: 3px;


}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- ///

.Navigation-listItem {
  text-decoration: none;
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
  @media screen and (max-width: 960px) {
  
    display: block;
    margin: 0;
    
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  @extend .Button;
  @extend .Button--nav;
  text-transform: uppercase;

  
}

.Navigation-link--invertedBold {
  text-decoration: none;
  color: $c-black; 
  // font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  line-height: 0.5em;
}

.nav-toggle{
  background: url('../img/hamburger.png');
  height: 48px;
  width: 48px;
  background-size: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

