// *************************************
//
// Sidebar
// -> This is an example module
//
// *************************************

.Sidebar {
	@include span-columns(4);
	float:right;
	margin-top: 9px;
  padding-left: 3.5em;
	// margin-right: 10px;
}

.widgettitle{
  font-size: rem(25px);
  // color:$c-blue;

}

.contact-title{
  font-size: rem(20px);
  color:$c-blue;
  margin-bottom: 0;
  margin-top: 10px;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule